[Unit]
Description=Wyoming Satellite
Wants=network-online.target
After=network-online.target
{% if respeaker_wyoming_openwakeword_enable %}
Requires={{ respeaker_wyoming_openwakeword_name }}.service
{% endif %}
{% if respeaker_led_enable %}
Requires={{ respeaker_led_type  }}.service
{% endif %}


[Service]
Type=simple
ExecStart={{ respeaker_wyoming_satellite_dir }}/script/run \
{% if respeaker_wyoming_satellite_debug_enable %}
  --debug \
{% endif %}
  --name '{{ respeaker_wyoming_satellite_satellite_name }}' \
  --uri '{{ respeaker_wyoming_satellite_listen_uri }}' \
{% if respeaker_wyoming_openwakeword_enable %}
  --wake-uri '{{ respeaker_wyoming_openwakeword_listen_uri }}' \
  --wake-word-name '{{ respeaker_wyoming_openwakeword_wakeword_name }}' \
{% endif %}
{% if respeaker_led_enable %}
  --event-uri '{{ respeaker_led_listen_uri }}' \
{% endif %}
  --mic-auto-gain 5 \
  --mic-noise-suppression 2 \
  --mic-command 'arecord -D {{ respeaker_wyoming_satellite_device }} -r 16000 -c 1 -f S16_LE -t raw' \
  --snd-command 'aplay -D {{ respeaker_wyoming_satellite_device }} -r 22050 -c 1 -f S16_LE -t raw'
WorkingDirectory={{ respeaker_wyoming_satellite_dir }}
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
